<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a>Register</a>
    </li>
    <li class="breadcrumb-item active">กรอกรายละเอียด</li>
  </ol>

  <div class="card border-success mb-3" style="max-width: 25%;">
    <div class="card-header">ลงทะเบียน</div>
    <div class="card-body text-success">
      <div class="submit-form">
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="fname">ชื่อ</label>
            <input type="text" class="form-control" id="fname" required [(ngModel)]="Customers.fname" name="fname" />
          </div>

          <div class="form-group">
            <label for="lname">นามสกุล</label>
            <input class="form-control" id="lname" required [(ngModel)]="Customers.lname" name="lname" />
          </div>

          <div class="form-group">
            <label for="address">ที่อยู่</label>
            <input class="form-control" id="address" required [(ngModel)]="Customers.address" name="address" />
          </div>

          <div class="form-group">
            <label for="subdistrict">แขวง/ตำบล</label>
            <input class="form-control" id="subdistrict" required [(ngModel)]="Customers.subdistrict"
              name="subdistrict" />
          </div>

          <div class="form-group">
            <label for="district">เขต/อำเภอ</label>
            <input class="form-control" id="district" required [(ngModel)]="Customers.district" name="district" />
          </div>

          <div class="form-group">
            <label for="province">จังหวัด</label>
            <input class="form-control" id="province" required [(ngModel)]="Customers.province" name="province" />
          </div>

          <div class="form-group">
            <label for="postalcode">รหัสไปรษณีย์</label>
            <input class="form-control" id="postalcode" required [(ngModel)]="Customers.postalcode" name="postalcode" />
          </div>

          <div class="form-group">
            <label for="phone">เบอร์โทรศัพท์</label>
            <input class="form-control" id="phone" required [(ngModel)]="Customers.phone" name="phone" />
          </div>

          <div class="form-group">
            <label for="email">อีเมล์</label>
            <input class="form-control" id="email" required [(ngModel)]="Customers.email" name="email" />
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" required [(ngModel)]="Customers.username" name="username" />
          </div>

          <div class="form-group">
            <label for="password">password</label>
            <input class="form-control" id="password" required [(ngModel)]="Customers.password" name="password" />
          </div>



          <div class="text-center">
            <button (click)="saveCustomers()" class="btn btn-success">Submit</button>
          </div>

        </div>

        <div *ngIf="submitted">
          <h4>คุณสมัครสมาชิกเสร็จเรียบร้อยแล้วค่ะ!</h4>

          <div class="text-center">
            <button class="btn btn-success" (click)="newCustomers()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
